dist
build
.idea
.venv
examples
__pycache__/
# dotfiles
.*
!.gitignore
!.github
!.mailmap


# js tooling
package-lock.json
package.json
.husky
**/__pycache__.venv/

w600k_r50.onnx
git-filter-repo.tar.xz